*, *::after, *::before {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
    background-color: rgb(25, 25, 25);
    color: white;
    text-align: center;
}
.container {
    display: flex;
}

.resume-right {
    background-color: #090A0A;
}
.resume-section {
    padding: 5%;
    margin: 0 auto;
}

.container h1 {
    font-size: 3em;
}
.container p {
    width: 80vw;
    margin: 0 auto;
}
.resume-img {
    width: 100%;
}
.left-section {
    background-color: #151617;
    padding: 30% 0;
}