@font-face {
  font-family: Organic;
  src: url(/Fonts/OrganicalPersonalUseBoldItalic-2O6xe.ttf);
}

:root {
  --accent-color: #f66b34;
  --main-color: #000000;
  --btn-color: white;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 1em;
}
::-webkit-scrollbar-track {
  background: grey;
  margin-block: 0.2em;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 100vw;
}
::-webkit-scrollbar-track:hover {
  background: white;
}

body {
  margin: 0;
  padding: 0;
  color: var(--btn-color);
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
}
.container {
  overflow: hidden;
}
footer {
  background-color: black;
  color: white;
  padding-top: 5%;
}
/* NAV */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  border: 2px solid var(--btn-color);
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}
.menu-wrap .hamburger > div::after {
  top: 10px;
}
/* Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(45deg);
}
/* X Animation */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
/* Rotating X On Hover Animation */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
  transition: transform 400ms ease-out;
}
/* Shows Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 400ms;
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 450ms ease-in 350ms;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transform-origin: 0 0;
  transition: all 600ms ease-in;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 250ms ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: clamp(1rem, 4vw, 2.5rem);
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  transition: color 250ms ease;
}
.menu-wrap .menu > div > div > ul > li > a:hover {
  text-decoration: underline;
}
/*Front Page with heading and subheading*/
.noise::before {
  background: url(/noise10.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.9;
  z-index: -100;
  pointer-events: none;
}
.Intro {
  text-align: center;
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
}
.titleContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.title {
  font-size: clamp(1rem, 4vw, 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  color: white;
  text-shadow: 1px 1px 2px red;
  margin-block-start: 0;
  margin-block-end: 0;
  bottom: 15%;
}
.header2 {
  font-size: clamp(1rem, 4vw, 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  color: white;
  text-shadow: 1px 1px 2px red;
  margin-block-start: 0;
  margin-block-end: 0;
  bottom: 22%;
}
.glitch {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: clamp(2rem, 7vw, 9rem);
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  font-family: 'Organic';
  /* animation: glitch 2000ms infinite; */
  bottom: 19%;
  color: red;
}

/* About Section */
.about {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  background-color: black;
  scroll-snap-align: center;
  color: white;
}
.about-me {
  width: 100%;
  font-size: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.5;
}

.fancy-link-projects {
  margin: 2% auto;
  text-decoration: none;
  color: var(--accent-color);
  position: relative;
  cursor: default;
}
.fancy-link-projects::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 350ms ease-in;
}
.fancy-link-projects:hover::after {
  transform: scaleX(1);
}
/* Projects Section */
.project-border {
  /* background-image: url(images/film.png); */
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20fill%3D%22none%22%20%3E%3Cpath%20stroke%3D%22rgba(160%2C%2082%2C%2045%2C%200.15)%22%20fill-opacity%3D%22.1%22%20stroke-width%3D%2220%22%20d%3D%22M0%200%20V100%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22rgba(160%2C%2082%2C%2045%2C%200.15)%22%20stroke-width%3D%2220%22%20d%3D%22M100%200%20V100%22%3E%3C%2Fpath%3E%3Crect%20fill%3D%22black%22%20x%3D%222.5%22%20y%3D%222.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%222.5%22%20y%3D%2212.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%222.5%22%20y%3D%2222.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%222.5%22%20y%3D%2232.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%222.5%22%20y%3D%2242.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%222.5%22%20y%3D%2252.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%222.5%22%20y%3D%2262.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%222.5%22%20y%3D%2272.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%222.5%22%20y%3D%2282.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%222.5%22%20y%3D%2292.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20fill-opacity%3D%221%22%20x%3D%2292.5%22%20y%3D%222.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%2292.5%22%20y%3D%2212.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%2292.5%22%20y%3D%2222.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%2292.5%22%20y%3D%2232.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%2292.5%22%20y%3D%2242.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%2292.5%22%20y%3D%2252.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%2292.5%22%20y%3D%2262.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%2292.5%22%20y%3D%2272.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%2292.5%22%20y%3D%2282.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22black%22%20x%3D%2292.5%22%20y%3D%2292.5%22%20width%3D%225%22%20height%3D%225%22%20rx%3D%220.5%22%3E%3C%2Frect%3E%20%3C%2Fsvg%3E%0A");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: contain;
  opacity: 0.95;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-width: 100%;
}
.projects-container {
  background-color: #000000;
}
.projects {
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
  background-color: rgba(160, 82, 45, 0.15);
}
.tech-used {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-evenly;
}
.project-title-container {
  background-color: black;
}
.project-title {
  width: max-content;
  margin: 2% auto;
  text-align: center;
  font-size: clamp(3rem, 5vw, 6rem);
  
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  position: relative;
  padding: 0.5em;
  font-weight: 100;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}
.contact-title,
.about-title {
  width: max-content;
  background-color: inherit;
  margin: 2% auto;
  text-align: center;
  font-size: clamp(3rem, 4vw, 5rem);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  position: relative;
  padding: 0.75em;
  font-weight: 100;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}
.project-title::before,
.about-title::before,
.contact-title::before {
  content: "";
  border: 3px solid var(--btn-color);
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  transform: translate(-5px, -5px);
}
.project-title::after,
.about-title::after,
.contact-title::after {
  content: "";
  border: 3px solid var(--btn-color);
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  transform: translate(5px, 5px);
}
.projects-links {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 10% 0;
  letter-spacing: 0.1em;
  background: radial-gradient(
    circle farthest-side,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0)
  );
  /* background: linear-gradient(95deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0)); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 80%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 1);
}
.project-left-section,
.project-right-section {
  width: 50%;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1em;
  align-items: stretch;
}

.title1 {
  margin: 1% auto;
  margin-right: 0;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}
.title2 {
  margin: 1% auto;
  margin-left: 0;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}
.project-description {
  margin: 0 auto 1em;
  border-top: 2px solid var(--btn-color);
  border-bottom: 2px solid white;
  max-width: 90%;
  padding: 1em;
  font-size: 1rem;
  line-height: 1.3;
}
.projects-links ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 2% auto;
}
.projects-links li {
  list-style: none;
  font-size: clamp(1rem, 0.5vw, 2rem);
}
.project-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.project-btn {
  color: white;
  padding: 1.5em 3em;
  text-decoration: none;
  position: relative;
  text-align: center;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-btn::before,
.project-btn::after {
  content: "";
  border: 4px solid white;
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: 5;
  transition: transform 350ms ease;
}
.btn1 {
  display: flex;
}
.btn2 {
  display: flex;
  justify-content: flex-end;
}
/*Contact Section*/
.contact-links {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: space-evenly;
  margin: 1% auto 0;
  padding: 5%;
  scroll-snap-align: center;
}
.contactbtn {
  padding: 20px 50px;
  text-decoration: none;
  position: relative;
  color: white;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactbtn::after,
.contactbtn::before {
  content: "";
  border: 3px solid white;
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: 5;
}
@media (hover) {
  .project-btn:hover::before,
  .project-btn:focus-within::before {
    transform: translate(-5px, -5px);
    z-index: 5;
  }
  .project-btn:hover::after,
  .project-btn:focus-within::after {
    transform: translate(5px, 5px);
    z-index: 5;
    border: none;
    background: white;
    content: "View Here";
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
  }
  .contactbtn:hover::before,
  .contactbtn:focus-within::before {
    transform: translate(-5px, -5px);
    z-index: -5;
  }
  .contactbtn:hover::after,
  .contactbtn:focus-within::after {
    transform: translate(5px, 5px);
    text-transform: uppercase;
    z-index: 5;
    transition: transform ease 250ms;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }
  .resume.contactbtn:hover::after,
  .resume.contactbtn:focus-within::after {
    content: "RESUME";
  }
  .github.contactbtn:hover::after,
  .github.contactbtn:focus-within::after {
    content: "GITHUB";
  }
  .cert.contactbtn:hover::after,
  .cert.contactbtn:focus-within::after {
    content: "CERTIFICATIONS";
  }
  .email.contactbtn:hover::after,
  .email.contactbtn:focus-within::after {
    content: "EMAIL";
  }
}

.fab {
  margin: 3%;
}

@media screen and (max-width: 1024px) {
  .projects-links {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 5%;
    width: 80%;
  }
  .project-left-section,
  .project-right-section {
    width: 100%;
    margin: 3% auto;
  }
  .projects-links.reverseimg {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
  }
  .btn1,
  .btn2 {
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn1 {
    flex-direction: column-reverse;
  }
  .tech-used {
    margin: 3% auto;
    width: 100%;
    justify-content: space-evenly;
  }
  .fab {
    zoom: 75%;
  }
  .projects,
  #contact {
    margin: 8% auto;
  }
  #projects {
    margin-bottom: 5%;
  }
  .title1,
  .title2 {
    margin: 0 auto;
    width: 80%;
  }
  .contact-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contactbtn {
    margin: 3% auto;
    width: 75%;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation: none !important;
    transition: none !important;
    transform: none !important;
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
