@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
*, *::after, *::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
}
.container {
    display: flex;
    margin: 5px auto 0px;
}
.resume-left {
    width: 30%;
    
}
.resume-right {
    background-color: black;
}
.resume-button {
    color: red;
    font-size: 1.5em;
    display: flex;
    margin-left: 10px;
    text-decoration: none;
}
.navbar {
    background: transparent;
    position: fixed;
}
.container h1 {
    font-size: 3em;
}
.container p {
    margin: 0 auto;
}
.resume-img {
    width: 100%;
}

.work-experience li {
    list-style: none;
    padding: 2%;
    margin: 0 auto;
    text-align: left;
}
.date {
    padding: 1%;
}
.resume-section {
    margin: 5% auto;
    padding-bottom: 5%;
    width: 80%;
    border-bottom: 2px solid #b1eaff;
}
.resume-section:last-child {
    border-bottom: 0px;
}
.title {
    font-size: 2em;
    margin-bottom: 2%;
    font-weight: 700;
    text-transform: uppercase;
}
.resume_work ul {
padding-left: 40px;
overflow: hidden;
}

.resume_work ul li .info {
    margin-bottom: 20px;
  }
.resume_work ul li {
    position: relative;
}
.date:before {
    content: "";
    position: absolute;
    left: -27px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
  }
.date:after {
    content: "";
    position: absolute;
    left: -18px;
    width: 2px;
    height:100%;
    background: white;
  }
.resume-contact ul {
    list-style: none;
    padding: 5%;
}
.resume-contact li {
    padding: 5%;
}
.resume-contact li a {
    color: white;
    text-decoration: none;
}
.resume-contact li a:hover {
    text-decoration: underline;
}
.resume-intro,
.resume-contact,
.resume-3rd {
    padding: 20% 0;
    border-bottom: 2px solid white;
    width: 80%;
    margin: 0 auto;
}
.resume-3rd {
    border-bottom: 0px;
}
.info li {
    list-style: white;
}
/*tech stack logos*/
.logos {
    display: flex;
    flex-direction: column;
}
.fab {
    padding: 5%;
}