*, *::after, *::before {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
}
.nav-bar {
    background-color: rgb(128, 43, 43);
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
    
}
@media (max-width: 500px) {
    .nav-bar {
        background-color: rgb(78, 67, 67);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        line-height: 2;
        
    }  
    /* Animation */
    .anim-typewriter{
    animation: typewriter 4s steps(34) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 15em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
}
.title {
    color: white;
    font-size: 1.5rem;
    margin-left: 1%;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}
.navbar-links a:hover {
    background-color: #555;
}
.Intro {
    text-align: center;
    background-color: rgb(25,25,25);
    padding: 25%;
    color: white;
    font-size: 1.5em;
}
.projects {
    background-color: rgb(25,25,25);
    width: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10%;
    padding: 5%;
}
.projects-links {
    background-color: white;
    margin: 10%;
    text-align: center;
    text-decoration: none;
}
.projects a {
    border: 10px black;
}
.about {
    width: 100%;
    margin: auto;
    margin-top: 1%;
    padding: 5%;
    text-align: center;
}
footer {
    position: absolute;
    right: 0;
}
.contactme {
    background-color: rgb(25,25,25);
    padding: 5%;
}
.contact-links ul {
    display: flex;
    justify-content: space-evenly;
}
.contact-links li {
    list-style: none;
}
.contact-links a {
    color: white;
    text-decoration: none;
}
.contact-links a:hover {
    padding: 25%;
    font-size: 1.2em;
}
.contact-label {
    color: white;
    text-align: center;
    font-size: 4em;
    margin: 5% 0 5% 0;
    padding-bottom: 5%;
}

.line-1{ /*This is for the typewriter effect */
    /* position: relative;
    top: 50%; */ 
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */ /* This needs to be fixed on small screen/responsive*/
.anim-typewriter{
  animation: typewriter 4s steps(34) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 15em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
.about-header {
    font-size: 2.5em;
}