*, *::after, *::before {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
    padding-top: 65px;
}
.nav-bar {
    background-color: rgb(128, 43, 43);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: absolute;
    top: 0;
    width: 100vw;
    height: 65px;
}
.title {
    color: white;
    font-size: 1.5em;
    margin-left: 1%;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 2em;
}
.navbar-links a:hover {
    background-color: rgb(25,25,25);
}
.Intro {
    text-align: center;
    background-color: rgb(25,25,25);
    padding: 25%;
    color: white;
    width: 100vw;
}
.projects {
    background-color: rgb(25,25,25);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    height: 100vh;
    column-gap: 3%;
    row-gap: 3%;
    padding-top: 1%;
    @media screen and (max-width: 60em) {
      grid-template-rows: repeat(4, 1fr);
    }
}
.grid-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    @media screen and (max-width: 60em) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 1;
    }
  }
.grid-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
    @media screen and (max-width: 60em) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 2;
    }
  }
.grid-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3;
    @media screen and (max-width: 60em) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 4;
    }
  } 
.grid-4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 3;
    @media screen and (max-width: 60em) {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 4;
    }
  }
.callout {
    margin: 0;
  }
.projects-links {
    text-align: center;
    text-decoration: none;
    line-height: 2;
    color: black;
}
.projects-links img {
    width: 50%;
    height: auto;
}
.btn {
    margin: 15px 0;
    padding: 14px 60px;
    background:white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 100%;
    border-radius: 3px;
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }
.btn.clicked {
    text-decoration: none;
}
.btn.raised {
    box-shadow: 0 1px 2px #222;
    transition: 
      box-shadow 0.3s ease,
      transform 0.3s ease;
  }
  
.btn.raised:hover {
    box-shadow: 0 15px 7px -7px rgb(99, 90, 90);
    transform: translateY(-8px)
  }
.about {
    width: 50%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.contactme {
    background-color: rgb(25,25,25);
    padding: 3%;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
.contact-links {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: center;
    height: 40vh;
    
}
.btn.rotate {
    position: relative;
    background: none;
    color: transparent;
  }
  
  .btn.rotate::before,
  .btn.rotate::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
    padding-top: inherit;
    text-align: center;
    cursor: pointer;
  }
  .btn.rotate::before {
    transform: translateY(0) rotateX(0deg);
    background: rgb(128, 43, 43);
    transform-origin: bottom bottom;
    content: attr(data-before);
    opacity: 1;
    color: #fff;
  }
  .btn.rotate::after {
    transform: translateY(-50%) rotateX(90deg);
    background: rgb(240, 117, 117);
    content: attr(data-after);
    transform-origin: top top;
    opacity: 0;
    color: #111;
  }
  .btn.rotate:hover::after {
    transform: translateY(0) rotateX(0);
    opacity: 1;
  }
  .btn.rotate:hover::before {
    transform: translateY(50%) rotateX(90deg);
    opacity: 0;
  }
.contact-label {
    color: white;
    text-align: center;
    font-size: 3em;
}
.line-1{ /* typewriter effect */
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 4em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
    font-family: 'Tourney', cursive;   
}

/* Typewriter Animation */
.anim-typewriter{
  animation: typewriter 4s steps(29) 1s 1 normal both,
             blinkTextCursor 500ms steps(29) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 13.4em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
.about-header {
    font-size: 3em;
}
.project-title {
    text-align: center;
    font-size: 2em;
    color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
}
.subhead {
    font-family: 'Tourney', cursive;
}
.copyright {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(25,25,25);
    width: 100%;
    color: white;
}
.stack {
  margin-left: auto;
  margin-right: 0;
  
}
.projects h2 {
    line-height: 1;
    margin-top: 0;
}
.techcontainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.techstack h2 {
    font-size: 3em;
}
.techstack li {
    text-align: center;
    list-style: none;
}