*, *::after, *::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background: black; 
    color: white;
    font-family: "Montserrat", sans-serif;
}
/* Navbar styling */
.title {
    font-size: 3em;
    margin-left: 15px;
    font-family: 'Mr De Haviland', cursive;
}
.nav-bar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    top: 0;
    width: 100%;
    height: 65px;
}
.navbar-links ul {
    margin: 0;
    padding: 30px;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.navbar-links a:hover {
    text-decoration: underline;
}
/*Front Page*/
.Intro {
    text-align: center;
    height: 100vh;
    width: 100%;
}
.headline{
    font-family: "Tourney", cursive; 
    position: relative;
    top: 40%;
    width: max-content;
    margin: 0 auto;
    font-size: clamp(4rem, 3vw + 1rem, 5rem);
    text-align: center;
    white-space: nowrap;
    padding: 1%;
}
.headline::before {
    content: "";
    border: 3px solid white;
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transform: translate(5px, 5px);
}
.headline::after {
    content: "";
    border: 3px solid white;
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transform: translate(-5px, -5px);
}

/* About Section */
#about {
    display: inline-flex;
    min-width: 100%;
    
}
@media (max-width: 900px) {
    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    
    color: white;
}
.summary {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.techcontainer {
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.techstack li {
    list-style: none;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Project Section */
@media (max-width: 900px) {
    #projects,
    #contact {
        margin: 30% 0 30% 0;
    }
}
.projects {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
    column-gap: 3%;
    row-gap: 3%; */
}
/* @media screen and (max-width: 60em) {
    .projects {
      grid-template-rows: repeat(4, 1fr);
    }
}
.grid-1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
}
@media screen and (max-width: 60em) {
    .grid-1 {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row: 1;
    }
  }
.grid-2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 2;
}
@media screen and (max-width: 60em) {
    .grid-2 {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row: 2;
    }
  }
.grid-3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
}
@media screen and (max-width: 60em) {
    .grid-3 {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row: 4;
    }
  } 
.grid-4 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 3;
}
@media screen and (max-width: 60em) {
    .grid-4 {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row: 4;
    }
  } */
.project-title,
.contact-title,
.about-title {
    text-align: center;
    font-size: 5em;
    font-family: 'Tourney', cursive;
    width: 100%;
}
@media screen and (max-width: 900) {
    .project-title,
    .contact-title,
    .about-title {
        text-align: center;
        font-size: 3em;
        font-family: 'Tourney', cursive;
        width: max-content;
    }
}
.projects-links {
    text-align: center;
    text-decoration: none;
    line-height: 2;
    color: black;
    padding: 5%;
    margin: 2%;
    background: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 100%;
    opacity: 0.9;
}
.projects-links img {
    width: 25%;
    height: auto;
}


/*Contact Section*/
.contactme {
    margin: 0 auto;
}
.contact-links {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10% auto;
}
.contactbtn {
    padding: 20px 50px;
    text-decoration: none;
    position: relative;
    color: white;
}
.contactbtn::after, .contactbtn::before {
    content: "";
    border: 3px solid white;
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.4s ease;
}
.contactbtn:hover::before {
    transform: translate(-5px, -5px);
    /* border: 3px dotted white;   DECIDE ON STYLE*/
}

.contactbtn:hover::after {
    /* content: "GitHub";
    text-align: center;
    margin: 0 auto;
    background: white;
    color: black; */
    transform: translate(5px, 5px);
}
.fab {
    padding: 5%;
}
